@model List<Bilet>

@{
    ViewData["Title"] = "AdminPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th>Bilet Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Mail</th>
        <th>Kimlik No</th>
        <th>Cinsiyet</th>
        <th>Telefon No</th>
        <th>Nereden</th>
        <th>Nereye</th>
        <th>Koltuk No</th>
        <th>Fiyat</th>
        <th>Sefer Id</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BiletId</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Mail</td>
            <td>@item.KimlikNo</td>
            <td>@item.Cinsiyet</td>
            <td>@item.TelNo</td>
            <td>@item.Nereden</td>
            <td>@item.Nereye</td>
            <td>@item.KoltukNo</td>
            <td>@item.Fiyat</td>
            <td>@item.SeferId</td>
            <td><a href="/Bilet/DeleteBilet/@item.BiletId" class="btn btn-danger">Bileti İptal Et</a></td>

        </tr>
    }
</table>