@model Entities.Concrete.Sefer

@{
    ViewData["Title"] = "AddSefer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Sefer Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddSefer", "Sefer", FormMethod.Post))
{
<div class="form-group">

    @Html.Label("Kalkış Şehir")
    @Html.TextBoxFor(x => x.KalkisSehir, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Varış Şehir ")
    @Html.TextBoxFor(x => x.VarisSehir, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Sefer Tarihi")
    @Html.TextBoxFor(x => x.SeferTarihi, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Kalkış Saati")
    @Html.TextBoxFor(x => x.KalkisZamani, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Sefer Ücreti")
    @Html.TextBoxFor(x => x.SeferUcret, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-info">Kaydet</button>
</div>
}
